<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/about.css">
    <%- include('partials/title')%>
</head>
<body>
    <%- include('partials/nav'); %>
    <header>
    </header>
    <div class="text-header">
        <h1>¿Quiénes Somos?</h1>
        <h3>Nosotros somos Arbol de la vida</h3>
        <p>El Árbol de la Vida ha sido un símbolo sagrado a través de la historia y en muchas culturas.<br/> Simboliza la conexión entre el cielo, la tierra y el inframundo, creando una conexión entre las formas de la creación. Representa crecimiento, sabiduría, familia, interconexión y comunidad</p>
    </div>
    <aside>
        <h2>"Las Voladoras"</h2>
        <div class="story">
            <p>Árbol de la Vida Café está ubicado en el barrio de las cuatro esquinas, donde según la leyenda, vivían “LAS VOLADORAS”, mujeres de la comunidad que por la noche obtenían poderes extraordinarios.<br>
            Las voladoras vivían en tres pueblos del norte: Mira, Pimampiro y Urcuquí; formando un triángulo mágico.<br>
            Cuando bajaba el sol, estas mujeres mágicas emprendían el vuelo desde sus casas en las cuatro esquinas para traer noticias desde el resto del Ecuador y del mundo. Eran mujeres altas y jóvenes que vestían túnicas blancas y enaguas onduladas y volaban con los brazos extendidos sin escoba. A pesar de que podía demorar 3 días un viaje a Quito y las noticias del capital podían demorar hasta 2 semanas en llegar, las personas de Urcuquí recibían noticias de inmediato, gracias a las voladoras.  
            <p>
            <img class="story-img" src="/img/voladoras.webp" alt="">
        </div>
        <div class="hacer">
            <h2>¿Qué puedo hacer mientras espero?</h2>
            <p>El restaurante Arbol de la Vida es un lugar donde puedes disfrutar de una deliciosa comida mientras te diviertes con amigos o familiares. Además de ofrecer una variedad de platillos deliciosos, el restaurante cuenta con una amplia selección de juegos de mesa, cartas y ajedrez que puedes disfrutar mientras esperas tu comida o después de terminar de comer.<br>También puedes encontrar una pequeña biblioteca con una selección de libros para leer. Pero eso no es todo, Arbol de la Vida también tiene una pared del recuerdo en la que puedes escribir tu nombre y el de tus amigos, dejando un pequeño recuerdo de tu visita. En general, Arbol de la Vida es un lugar acogedor y divertido en el que puedes pasar un buen rato con tus seres queridos mientras disfrutas de buena comida y un ambiente agradable.</p>
            <div class="fotos-hacer">
                <img class="fotos-hacer-img" src="/img/ajedrez.webp" alt="">
                <img class="fotos-hacer-img" src="/img/pared.webp" alt="">
            </div>
        </div>
        <div class="cumpleanos">
            <h2>¿Y si cumplo años?</h2>
            <div class="content-cumpleanos">
                <p>Además de ser un lugar ideal para disfrutar de una comida deliciosa y pasar un buen rato con amigos y familiares, Arbol de la Vida también es un lugar perfecto para celebrar tu cumpleaños. El restaurante ofrece un ambiente acogedor y festivo que hará de tu celebración algo especial.<br> Puedes disfrutar de una cena deliciosa y divertirte jugando juegos de mesa o cartas con tus amigos. Si deseas personalizar tu celebración, el restaurante ofrece opciones adicionales, como decoración temática hecha en colaboración con <span><a href="https://www.instagram.com/amoremiodetalles_ec/">@amoremiodetalles_ec</a></span>, postres personalizados y hasta recibir tu feliz cumpleaños cantado por el equipo de Arbol de la vida.<br> Además, el personal de Arbol de la Vida está siempre dispuesto a ayudarte con cualquier solicitud especial que tengas para que tu cumpleaños sea realmente inolvidable. En resumen, Arbol de la Vida es el lugar perfecto para celebrar tu cumpleaños y disfrutar de una experiencia memorable junto a tus seres queridos.</p>
                <div class="fotos-cumpleanos">
                    <img class="fotos-cumpleanos-img" src="/img/cumpleaños1.webp" alt="">
                </div>
            </div>
        </div>
        <div class="collage">
            <img class="collage_img" src="/img/collage-fotos-arbol.webp" alt="">
        </div>
    </aside>
    <%-include('partials/footer'); %>
</body>
<script src="/js/index.js"></script>
<script src="/js/about.js"></script>
<script src="https://kit.fontawesome.com/5a76c68f64.js" crossorigin="anonymous"></script>
</html>