<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/about.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/nav'); %>
    <header>
        <h1>¿Quiénes Somos?</h1>
        <h3>Nosotros somos Foodie foods</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ducimus, soluta ea veritatis assumenda non inventore explicabo dignissimos odit! Possimus fugit dolorem minus qui quasi! Similique repellendus labore vitae nulla?
        Tempore amet error et porro at, repellat vel eum distinctio totam quae earum, laboriosam harum molestias debitis vero asperiores provident, ab adipisci. Necessitatibus architecto aliquid cupiditate delectus in. Enim, aspernatur.
        Sequi ex iure aperiam, est consectetur provident recusandae debitis doloremque laudantium delectus, quidem illum, repellat placeat! Minima accusantium, unde sunt necessitatibus dignissimos atque dolor, laudantium cumque repellendus voluptatem amet quas?</p>
    </header>
    <aside>
        <h2>Nuestra misión</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, voluptates numquam. Id libero expedita laborum, reprehenderit praesentium laudantium perferendis eligendi quisquam nihil obcaecati odit tenetur cumque esse labore nobis nam!
        Odit quisquam id repellendus nam ad, expedita qui! Eligendi itaque exercitationem ipsam, veniam tenetur, dicta deleniti non repellendus aliquid porro impedit inventore beatae accusantium asperiores vero cupiditate, reprehenderit quia blanditiis?</p>
    </aside>
    <%-include('partials/footer'); %>
</body>
<script src="/js/index.js"></script>
<script src="https://kit.fontawesome.com/5a76c68f64.js" crossorigin="anonymous"></script>
</html>