<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/about.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/nav'); %>
    <header>
    </header>
    <div class="text-header">
        <h1>¿Quiénes Somos?</h1>
        <h3>Nosotros somos Arbol de la vida</h3>
        <p>El Árbol de la Vida ha sido un símbolo sagrado a través de la historia y en muchas culturas.<br/> Simboliza la conexión entre el cielo, la tierra y el inframundo, creando una conexión entre las formas de la creación. Representa crecimiento, sabiduría, familia, interconexión y comunidad</p>
    </div>
    <aside>
        <h2>"Las Voladoras"</h2>
        <div class="story">
            <p>Árbol de la Vida Café está ubicado en el barrio de las cuatro esquinas, donde según la leyenda, vivían “LAS VOLADORAS”, mujeres de la comunidad que por la noche obtenían poderes extraordinarios.<br>
            Las voladoras vivían en tres pueblos del norte: Mira, Pimampiro y Urcuquí; formando un triángulo mágico.<br>
            Cuando bajaba el sol, estas mujeres mágicas emprendían el vuelo desde sus casas en las cuatro esquinas para traer noticias desde el resto del Ecuador y del mundo. Eran mujeres altas y jóvenes que vestían túnicas blancas y enaguas onduladas y volaban con los brazos extendidos sin escoba. A pesar de que podía demorar 3 días un viaje a Quito y las noticias del capital podían demorar hasta 2 semanas en llegar, las personas de Urcuquí recibían noticias de inmediato, gracias a las voladoras.  
            <p>
            <img class="story-img" src="/img/voladoras.webp" alt="">
        </div>
    </aside>
    <%-include('partials/footer'); %>
</body>
<script src="/js/index.js"></script>
<script src="/js/about.js"></script>
<script src="https://kit.fontawesome.com/5a76c68f64.js" crossorigin="anonymous"></script>
</html>