<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cart.css">
    <title>Document</title>
</head>
<body>
    <%-include('partials/nav')%>
    <header>
        <h1>Carrito</h1>
    </header>
    <aside>
        <div class="box">
            <ul id="cart-list"></ul>
            <div class="total">
                <p>Total:</p>
                <p class="suma"></p>
            </div>
            <button id="pedido-button">Realizar el pedido</button>
        </div>
    </aside>
    <div class="pop-up">
        <h2>¡Gracias por tu compra!</h2>
        <p>Tu pedido de:</p>
        <ul></ul>
        <div class="pay-box">
            <h2>Escoge tu forma de pago</h2>
            <p>Serás redirigido al chat de whatsaap, si realizaste el pago por transferencia, envia comprobante de pago</p>
            <button class="efectivo">En efectivo</button>
            <button class="transfe">Por transferencia</button>
        </div>
    </div>
    <%-include('partials/footer')%>
</body>
<script src="/js/index.js"></script>
<script src="/js/cart.js"></script>
<script src="https://kit.fontawesome.com/5a76c68f64.js" crossorigin="anonymous"></script>
</html>