<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/popUps.css">
    <link rel="stylesheet" href="/css/cart.css">
    <%- include('partials/title')%>
</head>
<body>
    <%-include('partials/nav')%>
    <header>
        <h1>Carrito</h1>
    </header>
    <aside>
        <div class="box">
            <ul id="cart-list"></ul>
            <h2>Se encuentra en:</h2>
            <div class="delivery">
                <button class="b-del" data-del="1.5">Urcuquí $1.5</button>
                <button class="b-del" data-del="2">Yachay $2</button>
            </div>
            <div class="total">
                <p>Total:</p>
                <p class="suma"></p>
            </div>
            <div class="desc">
                <p>Descuento del 10%:</p>
                <p class="desc-tot"></p>
            </div>
            <button id="pedido-button">Realizar el pedido</button>
        </div>
    </aside>
    <div class="pop-up">
        <h2>¡Gracias por tu compra!</h2>
        <p>Tu pedido de:</p>
        <ul></ul>
        <div class="pay-box">
            <h2 class="imp">¡AVISO!</h2>
            <p>Serás redirigido al chat de whatsaap, es necesario enviar el comprobante de pago para que tu pedido sea tomado en cuenta</p>
            <div class="cuenta-banc">
                <h2>Informacion de cuenta banco Pichincha</h2>
                <p>Cuenta:2208067118</p>
                <p>Correo electrónico:arboldelavidaecu2022@gmail.com</p>
                <p>Nombre:Yamileth López</p>
                <p>Cédula:1759652058</p>
                <p>Teléfono:0986020627</p>
            </div>
            <button class="transfe">Pedir</button>
            <button class="cancelar">Cancelar</button>
        </div>
    </div>
    <%-include('partials/footer')%>
    <%-include('partials/popUps')%>
</body>
<script src="/js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
<script src="/js/popUps.js"></script>
<script src="/js/cart.js"></script>
<script src="https://kit.fontawesome.com/5a76c68f64.js" crossorigin="anonymous"></script>
</html>