<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/auth.css">
    <%- include('partials/title')%>
</head>
<body>
    <div class="nav"></div>
    <h1>Inicia Sesión</h1>
    <form action="/signIn" method="post">
        <h2>Correo electrónico</h2>
        <input type="email" name="email" id="email">
        <h2>Contraseña</h2>
        <input type="password" name="password" id="password">
        <% if(!(route === "")){%>
            <input type="text" class="in-hidden" name="route" value="<%=route%>">
        <% }%>
        <button type="submit" >Inicia Sesión</button>

        <% if(!(err === "")){%>
            <p class="error"><%= err %></p>
        <% }%>

    </form>
    <button class="other" id="red">Regístrate</button>
    <button class="other return" id="return">Regresar</button>
</body>
<script src="/js/signIn.js"></script>
</html>