<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/auth.css">
    <title>Registrate</title>
</head>
<body>
    <h1>Registrate</h1>
    <form action="/signUp" method="post">
        <h2>Correo electrónico</h2>
        <input type="email" name="email" id="email">
        <h2>Contraseña</h2>
        <input type="password" name="password" id="password">
        <% if(!(route === "")){%>
            <input type="text" class="in-hidden" name="route" value="<%=route%>">
        <% }%>
        <button type="submit">Registrar</button>

        <% if(!(err === "")){%>
            <p class="error"><%= err %></p>
        <% }%>

    </form>
    <button class="other" id="red">Login</button>
    <button class="other return" id="return">Regresar</button>
</body>
<script src="/js/signUp.js"></script>
</html>