header{
    background-image: url('/img/BeFunky-collage.webp');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .5;
    height: 100vh;
}
.text-header{
    color: #000;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40vh;
}
.text-header h1{
    font-size: 50px;
}
.text-header h3{
    font-size: 50px;
    font-family: 'Sacramento', cursive;
}
.text-header p{
    color: #000;
    text-align: center;
    margin: 0 1vw;
    font-size: 1.5vw;
    text-shadow: 0px 2px 2px #646262;
}
nav ul li:nth-child(2){
    color: var(--color-orange);
}
aside{
    margin: 5vh 0;
}
aside h2{
    text-align: center;
}
aside h2{
    margin:0 0 3vh 0;
    font-size: 50px;
}
.story{
    display: flex;
    flex-direction: row;
    margin: 5vh 5vw 0 5vw;
    gap: 5vw;
}
.story p{
    width: 50%;
    text-align: justify;
}
.story img{
    width: 40vw;
    height: 80%;
}
.story-img{
    opacity: 0;
    transform: translateX(7vw);
}
.story-img_toggle{
    opacity: 1;
    transform: translateX(0vw);
    transition: .5s;
}
.hacer, .cumpleanos{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin: 3vh 0;
}
.content-cumpleanos{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 3vw;
    width: 90vw;
    margin: 0 5vw;
}
.cumpleanos p{
    text-align: justify;
}
.hacer p{
    margin: 2vh 5vw;
    text-align: justify;
}
.fotos-hacer, .fotos-cumpleanos{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fotos-hacer-img{
    transform: translateX(5vw);
}
.fotos-cumpleanos-img{
    transform: translateX(-5vw);
}
.fotos-hacer-img, .fotos-cumpleanos-img{
    width: 40vw;
    opacity: 0;
}
.fotos-hacer-img_toggle, .fotos-cumpleanos-img_toggle{
    opacity: 1;
    transition: .5s;
    transform: translateX(0vw);
}
.collage{
    width: 100vw;
}
.collage img{
    width: 100%;
}
.collage_img{
    opacity: 0;
    transform: translateX(-7vw);
}
.collage_img_toggle{
    opacity: 1;
    transform: translateX(0vw);
    transition: .5s;
}
@media (max-width:680px) {

    header{
        height: 90vh;
        background-position: center;
    }
    .text-header{
        text-align: center;
        top: 20vh;
    }
    .text-header p{
        font-size: 4vw;
    }
    aside h2{
        font-size: 10vw;
    }
    aside p{
        margin: 0 3vw;
    }
    .story{
        display: flex;
        flex-direction: column;
    }
    .story p{
        width: 95%;
    }
    .story img{
        width: 100%;
    }
    .hacer{
        gap: 0;
        margin-top: 3vh;
    }
    .hacer h2{
        font-size: 8vw;
    }
    .hacer p{
        margin: 0vh 5vw 2vh 5vw;
    }
    .fotos-hacer img{
        width: 45vw;
    }
    .content-cumpleanos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fotos-cumpleanos img{
        width: 80vw;
    }
}