*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('/img/fondo-arbol-de-la-vida.webp');
    background-size: contain;
}
h1,h2,p{
    font-family: 'Inter', sans-serif;
}
h1{
    font-size: 50px;
    margin: 10px 0;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
}
form h2{
    margin-bottom: 10px;
    margin-top: 20px;
}
form input{
    width: 90%;
    padding: 8px 10px;
    border: 2px solid blue;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgb(201, 200, 200);
}
form button{
    width: 40%;
    margin: 40px 30% 10px 30%;
    padding: 10px 0;
    font-size: 2vw;
    background-color: rgb(32, 32, 255);
    color: white;
    border: none;
}
.nav{
    background-color: rgb(0, 153, 255);
    height: 10vh;
    width: 100vw;
}
.other{
    width: 40%;
    margin: 0 30%;
    font-size: 1.8vw;
    text-decoration: underline;
    color: black;
    border: none;
    background-color: transparent;
}
.error{
    color: red;
    text-align: center;
    animation: err-animation 0.2s linear;
}
@keyframes err-animation{
    0%{
        transform: translateX(0vw);
    }
    25%{
        transform: translateX(1.5vw);
    }
    50%{
        transform: translateX(0vw);
    }
    75%{
        transform: translateX(-1.5vw);
    }
    100%{
        transform: translateX(0vw);
    }
}
.return{
    transform: translateY(3vh);
    color: purple;
}
.in-hidden{
    display: none;
}
@media (max-width:680px) {
    body{
        background-image: url('/img/Fondo-celular-arbol-de-la-vida.webp');
        background-size: contain;
    }
    form{
        width: 80vw;
        min-height: 300px;
    }
    form button{
        padding: 5px 0;
        font-size: 3.5vw;
    }
    .other{
        font-size: 3.5vw;
    }
}