@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,p{
    font-family: 'Inter', sans-serif;
}
h1{
    font-size: 50px;
    margin: 10px 0;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
}
form h2{
    margin-bottom: 10px;
    margin-top: 20px;
}
form input{
    width: 90%;
    padding: 8px 10px;
    border: 2px solid blue;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgb(201, 200, 200);
}
form button{
    width: 40%;
    margin: 40px 30% 10px 30%;
    padding: 10px 0;
    font-size: 2vw;
    background-color: rgb(32, 32, 255);
    color: white;
    border: none;
}
.other{
    width: 40%;
    margin: 0 30%;
    font-size: 1.8vw;
    text-decoration: underline;
    color: black;
    border: none;
    background-color: transparent;
}
@media (max-width:680px) {
    form{
        width: 80vw;
        min-height: 300px;
    }
    form button{
        padding: 5px 0;
        font-size: 3.5vw;
    }
    .other{
        font-size: 3vw;
    }
}