body{
    overflow-x: hidden;
    /*background-color: rgba(255, 192, 203, 0.5);*/
} 
header{
    height: 90vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    animation: image-dissapear 10s alternate infinite ;
    border-bottom: 5px solid var(--color-orange);
}
header h1{
    color: white;
    text-align: center;
    transform: translateY(40vh);
    font-size: 80px;
}
header button{
    color: white;
    padding: 6px;
    background-color: transparent;
    border: 4px solid white;
    font-size: 40px;
    transform: translate(45vw,45vh);
    opacity: 0;
    transition: .3s;
}
header:hover button{
    opacity: 1;
}
nav ul li:nth-child(1){
    color: var(--color-orange);
}
@keyframes image-dissapear {
    0%{
        background-image: url('/img/bg.webp');
    }
    15%{
        background-image: url('/img/bg.webp');
    }
    30%{
        background-image: url('/img/bg2.webp');
    }
    50%{
        background-image: url('/img/bg2.webp');
    }
    70%{
        background-image: url('/img/bg3.webp');
    }
    100%{
        background-image: url('/img/bg3.webp');
    }
}
.logo{
    position: absolute;
    width: 15vw;
    transform: translate(42.5vw, 5vh);
}
.social-network-icons{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: translate(5px, 10px);
    color: white;
}
.social-network-icons i{
    font-size: 35px;
}
.social-network-icons i:hover{
    transform: scale(1.1);
}
aside{
    margin: 10vh 0;
    background-image: url('/img/arbol-fondo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40vw;
}
.aside-title{
    text-align: center;
    font-size: 35px;
}
.box-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    margin: 5vh 5vw;
}
.box-cards h2{
    text-align: center;
    font-size: 1.5vw;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    padding: 0 5px 5px 5px;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgb(199, 199, 199);
}
.card:hover{
    box-shadow: 0px 4px 6px rgb(129, 126, 126);
}
.card img{
    border-radius: 10px;
    width: 20vw;
    transition: .8s;
}
.card h2{
    font-size: 2.5vw;
    font-family: 'Dancing Script Regula', sans-serif;
    color:  var(--color-orange-2);
}
.card p{
    text-align: center;
    font-size: 1.7vw;
    margin: 2vh 0;
}
.card button{
    font-size: 1.8vw;
    background-color: transparent;
    width: 90%;
    margin: 10px 30% 1.5vh 30%;
    padding: 10px 0;
    color: white;
    box-shadow: 0px 2px 8px rgb(199, 199, 199);
    background-color: rgb(88, 255, 55);
    border: none;
    border-radius: 5px;
}
.card button:hover{
    transform: scale(1.1);
    background-color: var(--color-orange);
}
.beer{
    text-align: center;
    margin: 3vh 0;
    font-size: 5vw;
    color: var(--color-orange);
}
.artesanal-beer{
    display: flex;
    flex-direction: row;
    gap: 4vw;
    justify-content: center;
    margin: 3vh 3vw 0 3vw;
}
.artesanal-beer p{
    text-align: justify;
    width: 40vw;
}
.artesanal-beer img{
    width: 40vw;
}
@media (max-width: 800px) {
    .logo{
        position: absolute;
        width: 40vw;
        transform: translate(30vw, 3vh);
    }
    header{
        height: 70vh;
    }
    header h1{
        transform: translateY(30vh);
        font-size: 15vw;
    }
    header button{
        display: none;
    }
    .social-network-icons{
        flex-direction: row;
        justify-content: center;
        width: 100vw;
        gap: 15px;
        transform: translateY(60vh);
        color: white;
    }
    .social-network-icons i{
        font-size: 10vw;
    }
    aside{
        background-size: 60vw;
    }
    .box-cards{
        margin: 5vh 2vw;
    }
    .box-cards h2{
        font-size: 3.5vw;
    }
    .card{
        width: 45vw;
        min-height: 280px;
    }
    .card img{
        width: 45vw;
    }
    .card h2{
        font-size: 5vw;
    }
    .card p{
        font-size: 5vw;
    }
    .card button{
        font-size: 4vw;
    }
    .card:hover{
        box-shadow: 0px 4px 6px rgb(54, 53, 53);
    }
    .products-story{
        margin: 0 2vw;
    }
    .beer{
        font-size: 8vw;
    }
    .artesanal-beer{
        display: flex;
        flex-direction: column;
        gap: 3vw;
        margin: 0 5vw;
    }
    .artesanal-beer p{
        text-align: justify;
        width: 90vw;
    }
    .artesanal-beer img{
        width: 90vw;
    }
}

@media (max-width:460px) {
    .logo{
        position: absolute;
        width: 50vw;
        transform: translate(25vw, 3vh);
    }
}