body{
    overflow-x: hidden;
}
header{
    height: 90vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    animation: image-dissapear 10s alternate infinite ;
    border-bottom: 5px solid red;
}
header h1{
    color: white;
    text-align: center;
    transform: translateY(40vh);
    font-size: 80px;
}
header button{
    color: white;
    padding: 6px;
    background-color: transparent;
    border: 4px solid white;
    font-size: 40px;
    transform: translate(45vw,45vh);
    opacity: 0;
    transition: .3s;
}
header:hover button{
    opacity: 1;
}
nav ul li:nth-child(1){
    color: red;
}
@keyframes image-dissapear {
    0%{
        background-image: url('/img/bg.webp');
    }
    15%{
        background-image: url('/img/bg.webp');
    }
    30%{
        background-image: url('/img/bg2.webp');
    }
    50%{
        background-image: url('/img/bg2.webp');
    }
    70%{
        background-image: url('/img/bg3.webp');
    }
    100%{
        background-image: url('/img/bg3.webp');
    }
}
.logo{
    position: absolute;
    width: 15vw;
    transform: translate(42.5vw, 5vh);
}
.social-network-icons{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: translate(5px, 10px);
    color: white;
}
.social-network-icons i{
    font-size: 35px;
}
.social-network-icons i:hover{
    transform: scale(1.1);
}
aside{
    margin: 10vh 0;
}
.aside-title{
    text-align: center;
    font-size: 35px;
}
.box-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 2vw;
    margin: 5vh 3vw;
}
.box-cards h2{
    text-align: center;
    font-size: 1.5vw;
}
.box-cards p span{
    color: red;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    padding: 5px;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgb(199, 199, 199);
}
.card:hover{
    box-shadow: 0px 4px 6px rgb(129, 126, 126);
}
.card img{
    border-radius: 20px;
    width: 100%;
    transition: .8s;
}
.card h2{
    font-size: 2.5vw;
    font-family: 'Dancing Script Regula', sans-serif;
    color:  #ec7c3c;
}
.card p{
    text-align: center;
    font-size: 1.7vw;
    margin: 2vh 0;
}
.card button{
    font-size: 1.8vw;
    background-color: transparent;
    width: 90%;
    margin: 10px 30% 1.5vh 30%;
    padding: 10px 0;
    background-color: rgb(255, 0, 0);
    color: white;
    box-shadow: 0px 2px 8px rgb(199, 199, 199);
    border: none;
    border-radius: 5px;
}
.card button:hover{
    transform: scale(1.1);
    background-color: rgb(88, 255, 55);
}

@media (max-width: 800px) {
    .logo{
        position: absolute;
        width: 40vw;
        transform: translate(30vw, 3vh);
    }
    header{
        height: 70vh;
    }
    header h1{
        transform: translateY(30vh);
        font-size: 15vw;
    }
    header button{
        display: none;
    }
    .social-network-icons{
        flex-direction: row;
        justify-content: center;
        width: 100vw;
        gap: 15px;
        transform: translateY(60vh);
        color: white;
    }
    .social-network-icons i{
        font-size: 10vw;
    }
    .box-cards h2{
        font-size: 3.5vw;
    }
    .card{
        width: 45vw;
        min-height: 350px;
    }
    .card h2{
        font-size: 5vw;
    }
    .card p{
        font-size: 5vw;
    }
    .card button{
        font-size: 4vw;
    }
    .card:hover{
        box-shadow: 0px 4px 6px rgb(54, 53, 53);
    }
}

@media (max-width:460px) {
    .logo{
        position: absolute;
        width: 50vw;
        transform: translate(25vw, 3vh);
    }
}