  header{
    text-align: center;
    font-size: 50px;
    color: white;
    margin: 0;
    background: rgb(14,14,14);
    background: linear-gradient(72deg, rgba(14,14,14,1) 45%, rgba(74,70,70,1) 100%);
    height: 30vh;
}
header h2{
    text-align: center;
    font-size: 1.5vw;
}
nav ul li:nth-child(3){
    color: var(--color-orange);
}
.menu{
    background-color: var(--color-orange);
}
.menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3vw;
    margin: 0 1vw;    
    list-style: none;
}
.menu ul li{
    font-size: 1.3vw;
    color: white;
    padding: 7px 5px;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
.menu ul li:hover{
    background-color: white;
    color: red;
    transform: scale(1.1);
}
aside{
    background-image: url('/img/fondo-arbol-en-el-centro.webp');
    background-size: cover;
    background-position: center;
}
.seccion_name{
    text-align: center;
    padding-top: 3vh;
    font-size: 4vw;
}
.box-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 2vw;
    padding: 5vh 3vw;
}
.box-cards p span{
    color: red;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    padding: 5px;
    background-color: rgb(243, 231, 231);
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgb(199, 199, 199);
    border: 1px solid var(--color-orange-2);
}
.card h2{
    font-size: 2.1vw;
    text-align: center;
    font-family: 'Dancing Script Regula', sans-serif;
    color:  #ec7c3c;
}
.card:hover{
    box-shadow: 0px 4px 6px rgb(119, 118, 118);
}
.card p{
    text-align: center;
    font-size: 1.7vw;
    margin: 2vh 0;
}
.descuento{
    color: red;
    font-weight: bold;
}
.card button{
    font-size: 1.8vw;
    background-color: transparent;
    width: 90%;
    margin: 10px 30% 1.5vh 30%;
    padding: 10px 0;
    background-color: rgb(0, 81, 255);
    color: white;
    box-shadow: 0px 2px 8px rgb(199, 199, 199);
    border: none;
    border-radius: 5px;
}
.card button:hover{
    transform: scale(1.1);
    background-color: rgb(88, 255, 55);
}
@media (max-width:680px) {

    header{
        font-size: 15vw;
    }
    header h2{
        font-size: 5vw;
    }
    .seccion_name{
        font-size: 10vw;
    }
    .menu ul{
        justify-content: space-around;
        margin: 0 0.5vw;    
        list-style: none;
    }
    .menu ul li{
        font-size: 3.5vw;
        padding: 7px 1vw;
        border: none;
    }
    .box-cards{
        gap: 10px;
        padding: 2vh 1vw;
    }
    .card{
        width: 45vw;
    }
    .card h2{
        text-align: center;
        font-size: 4vw;
    }
    .card p{
        font-size: 4vw;
    }
    .card button{
        font-size: 4vw;
    }
    .card:hover{
        box-shadow: 0px 4px 6px rgb(54, 53, 53);
    }
}