body{
    background-image: url('/img/fondo-arbol-de-la-vida.webp');
    background-size: contain;
}
button{
    width: 10vw;
    padding: 10px 0;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.5vw;
}
header{
    margin-left: 2vw;
}
header h1{
    font-size: 50px;
    color:  #ec7c3c;
}
aside{
    display: flex;
    flex-direction: row;
    margin: 3vh 0;
}
aside h2{
    font-family: 'Dancing Script Regula', sans-serif;
    font-size: 40px;
    color: black;
}
aside img{
    width: 400px;
    height: 400px;    
    margin: 2vh 0 5vh 2vw;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}
.descuento{
    border: 4px solid #FF0000;
    border-radius: 0px 34px 0px 34px;
    background-color: #FF0000;
    width: 50%;
    color: white;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    text-align: center;
    margin: 2vh 25%;
}
.extra{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.extra-p{
    background-color: rgb(0, 140, 255);
    color: white;
    padding: 0.3rem;
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.extra_toggle{
    background-color: red;
}
.content{
    display: flex;
    flex-direction: column;
    margin: 0 5vw;
    gap: 3vh;
}
.content ul{
    display: flex;
    flex-direction: column;
    font-style: oblique;
}
.content ul li:nth-child(2){
    color: #fd0000;
}
.content p {
    font-size: 35px;
    font-style: oblique;
    color: #2c2c2c;
}
.precio{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.precio button{
    background-color: rgb(0, 102, 255);
}
#cant{
    font-size: 2vw;
    width: 2vw;
    font-style: oblique;
}
.content .cart{
    background-color: blue;
}
.content button:hover{
    background-color: rgb(36, 94, 255);
    box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.75);
}
@media (max-width:680px) {
    body{
        background-image: url('/img/Fondo-celular-arbol-de-la-vida.webp');
        background-size: contain;
    }
    aside{
        display: flex;
        flex-direction: column;
    }
    aside h2{
        font-size: 10vw;
    }
    aside img{
        width: 80vw;
        height: 40vh;    
        margin: 1vh 10vw 1vh 10vw;
    }
    .content{
        margin: 0 calc(5vw + 10px);
        gap: 3vh;
    }
    .content p {
        font-size: 8vw;
        text-align: center;
    }
    .extra-p{
        padding: 0.5rem;
        font-size: 3vw;
    }
    .extra_toggle{
        background-color: red;
    }
    #cant{
        font-size: 5vw;
        width: 10vw;
    }
    .content button{
        width: auto;
        margin: 10px auto 0 auto;
        font-size: 5vw;
        padding: 0.5rem;
    }    
     
}