body{
    background-image: url('/img/fondo-arbol-de-la-vida.webp');
    background-size: contain;
}
header h1{
    text-align: center;
    font-size: 50px;
}
aside form{
    width: 60vw;
    margin: 5vh auto;
    padding: 3vh 0;
    background-color: rgb(240, 240, 240);
}
form div{
    margin: 10px 0;
}
form h2{
    text-align: center;
    font-size: 2vw;
}
form input, form select{
    width: 90%;
    margin: 10px 5% 0 5%;
    padding: 10px 5px;
    border: 2px solid rgb(69, 1, 255);
    border-radius: 5px;
    font-size: 1.5vw;
    box-shadow: 0px 2px 8px rgb(175, 174, 174);
}
form button{
    width: 30%;
    margin: 40px 35% 0 35%;
    padding: 10px 0;
    font-size: 1.7vw;
    background-color: rgb(39, 39, 248);
    color: white;
    border: none;
    border-radius: 5px;
}
form button:hover{
    background-color: rgb(53, 255, 80);
}
nav ul li:nth-child(4){
    color: red;
}

@media (max-width:680px) {
    header h1{
        font-size: 10vw;
    }
    aside form{
        width: 80vw;
    }
    form h2{
        font-size: 5vw;
    }
    form input, form select{
        font-size: 4.5vw;
    }
    form button{
        margin: 30px 35% 0 35%;
        font-size: 4vw;
    }
}