    <footer>
        <br>
        <h1 class="fr-h1">ÁRBOL DE LA VIDA</h1>
        <div class="foot">
            <div class="adress">
                <h1>Dirección</h1>
                <p>Antonio Ante E-08-26<br>PB Sucre 4 Esquinas<br>Urcuquí - Ecuador</p>
            </div>
            <div class="follow">
                <h1>Síguenos</h1>
                <div class="icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
            </div>
            <div class="scheldule">
                <h1>Horario</h1>
                <p>Martes a Miércoles: 17:00 PM-22:00 PM<br>Jueves, Viernes y Sábado: 12:00 PM a 21:30 PM</p>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7127465409085!2d-78.19976088524666!3d0.41681189969590415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2a3a26b9263b21%3A0x2fb992940e78c89!2s%C3%81rbol%20de%20la%20Vida!5e0!3m2!1ses!2sec!4v1676489311337!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="rights">
            <p>© ÁRBOL DE LA VIDA Punto Com 2022</p>
        </div>
    </footer>