    <footer>
        <br>
        <h1 class="fr-h1">FOODIE-FOODS</h1>
        <div class="foot">
            <div class="adress">
                <h1>Direccion</h1>
                <p>Av.Mariano Acosta<br>y Gabriela Mistral<br>Ibarra - Ecuador</p>
            </div>
            <div class="follow">
                <h1>Siguenos</h1>
                <div class="icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
            <div class="scheldule">
                <h1>Horario</h1>
                <p>Lunes a Viernes<br>De 740 a 11pm</p>
            </div>
        </div>
        <div class="rights">
            <p>© FOODIE-FOODS Punto Com 2022</p>
        </div>
    </footer>