<div class="bar"><i class="fa-solid fa-bars"></i></div>
<nav class="menu-white">
    <ul>
        <li> <span><i class="fa-solid fa-house"></i></span> Casa</li>
        <li> <span><i class="fa-regular fa-address-card"></i></span> Sobre Nosotros</li>
        <li> <span><i class="fa-solid fa-utensils"></i></span> Menú</li>
        <li> <span><i class="fa-solid fa-list-check"></i></span> Reservaciones</li>
        <li> <span><i class="fa-sharp fa-solid fa-cart-shopping"></i></span> Carrito</li>
    </ul>
</nav>