<div class="bg">
    <div class="error-pedir">
        <div class="img">
            <img src="/img/haburguesa-sad.png" alt="error">
        </div>
        <div class="content-error">
            <p>Ha ocurrido un error. Inténtelo de nuevo uwu</p>
        </div>
        <button class="reintentar">Reintentar</button>
    </div>
    <div class="exito-pedir">
        <div class="img">
            <img src="/img/taco-happy.png" alt="exito">
        </div>
        <div class="content-exito">
            <p>Tu pedido se agregó exitosamente al carrito</p>
        </div>
        <button class="ok">Okay</button>
    </div>
</div>